@font-face {
    font-family: 'KIA';
    src: url('KIAB.eot');
    src: local('KIAB'),
        url('KIAB.eot?#iefix') format('embedded-opentype'),
        url('KIAB.woff') format('woff'),
        url('KIAB.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
  min-width:320px;
  font-family: 'KIA', sans-serif;
  background-color: white;
}
.mobile_map {display: none;}
.wrapper {padding-left: 200px;}
.red *, .red, .spez a {color: white;}

.red {background-color: #a30606;}
header .red, .head.red {width: 48%;}
.redfont, .redfont a {color: #a30606;}
.redfont.bold {font-weight: 600;}
.btn.redfont {border: 1px solid #a30606;}
.spez {background-color: grey;}
.btn a {font-size: 16px;}

.btn:not(.kredit), .attention, .contacts h4, .forma span, input[type=submit] {text-transform: uppercase;}
.btn.profit {background-color: white; display: inline-block;}

header {width: 100%; height: 100px;  display: inline-block;}
header .red {height: 100px;}
header>section {display: inline-block;}
.header_wrap {display: inline-block; width: 100%; margin-top: 20px; vertical-align: top;}
.header_wrap div:not(.mobile_menu) {display: inline;}

.head {position: relative; display: inline-block;}
.head .wrapper {position: relative; z-index: 10;}

.marker span {display: inline-block; font-size: 14px; margin-left: 8px;}
.marker {margin-left: 15%; vertical-align: middle;}
header .btn {margin-left: 20px;}
.kia {margin-left: 300px;}
.logo, .marker, header .btn, header .btn a, .kia {text-align: left; }

.banner .wrapper {padding-top: 50px; padding-bottom: 30px;}

.list ul:not(:first-child) {padding-left: 50px;}
.list li {padding-top: 5px;}

.img {
  background-image: url(./src/Rectangle.png);
  position: absolute;
  width: 1037px;
  height: 420px;
  top: 0;
  left: 90%;
  z-index: 1;
}

.forma {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 40px;}
.picture {
position: absolute;
top: 90px;
right: 0;}

h1 {font-size: 24px; font-weight: 400; margin: 0; padding: 80px 0 40px 0;}
h3 {font-size: 24px;}
.head span:not(.attention) {font-size: 30px;}
.attention {font-size: 48px; white-space: nowrap;}
.btn.profit {margin: 30px 0; padding: 14px 60px;}

.forma h2 {
  font-size: 48px;
  line-height: 32px;
  font-weight: 400; 
  margin-bottom: 20px;
} 
.forma p {font-weight: 600; padding-bottom: 30px;}
li, .forma p, .forma span  {font-size: 16px;}

#popup {
  text-align: center;
  width: 460px;
  height: 420px;
  display: none;
}

/*
.popup {
  background:	rgba(0,0,0, 0.5);
    width: 100%;
    height: 600px;
    display: none;
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 200px;
    left: 0;
    z-index: 10;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.popup_wrap {
  max-width: 400px;
  height: 320px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.popup:target {
  display: flex;
}
.close {color: grey; text-align: right; padding-right: 3px;}
*/
.popup_wrap h3, .popup_wrap form {text-align: center;}
.popup p {
  text-align: center;
  color: grey;
  font-size: 10px;
  padding: 5px 40px;
  }

ul {display: inline-block;}
ul.main{display: inline-flex;}

.main {padding-top: 40px; padding-bottom: 40px;}
.car {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 30px;
  }

.right {margin-left: 40px;
display: flex;
flex-direction: column;
justify-content: space-between;}
.sircle span {display: inline-block; font-size: 14px; padding-left: 10px; line-height: 1.3em; vertical-align: top;}
.right .btn, header .btn {padding: 14px 30px;}
.btn.kredit {padding: 14px 20px;}

footer {position: relative;}
.map {width: 50%; position: relative;}
.contacts {
  position: absolute;
  top: 40px;
  left: 50%;
  right: 0;
}

footer h5 {
  position: absolute;
  top: 20px;
  left: 20%;
}

  input[type=tel] {
    padding: 14px 40px;
    margin: 8px 0;
    border: 1px solid #ccc;
  }

  .popup input[type=tel] {text-align: center;}

  .contacts input[type=tel] {
    background-color:#a30606;
    color: white;
  }

  .footer_wrap{margin-left:30px; margin-bottom: 40px;}
  .contacts h4 {font-weight: 400; margin-bottom: 10px;}
  footer span {line-height: 2em;}

  input[type=submit] {
    font-size: 16px;
    padding: 14px 40px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
  .forma input[type=submit] {
    background-color:#a30606;
    color: white;
    margin-left: 20px;
  }
  
  .contacts input[type=submit] {
    padding: 14px 60px;
    display: block;
    background-color: white;
    color: #a30606;
    font-weight: bold;
  }

  a:hover, input[type=submit]:hover {opacity: 0.6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;}
  .btn:hover{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

  .mobile_menu {position: relative; display: none;}
  .mobile_menu ul {
    margin-top: 0;
    position: absolute; 
    z-index: 20;
    display: none;
  }
  #showmenu {display: none;}
  .mobile_menu .showmenu {color: white; font-size: 60px;}
  .mobile_menu li {
  cursor: pointer;
  background-color: #a30606;
  padding: 20px 60px;
  border: 1px solid white;}
  .mobile_menu a {color: white; font-size: 24px; word-wrap: normal;}

  @media (max-width: 1300px){
    header .red, .head.red {width: 50%;}
    .wrapper {padding-left: 100px;}
    .marker {margin-left: 20px;}
    .kia {margin-left: 100px;}
  }

  @media (max-width: 1110px) {
    .img {left: 0;}
    header .wrapper {padding-left: 30px;}
    .banner .wrapper {padding-top: 480px;}
    .forma {padding-left: 100px;}
    .head.red {width: 100%;}
    ul.main {display: block;}
    ul.main li:not(:first-child) {margin-top: 60px;}
    .car {justify-content: center;}
  }

  @media (max-width: 876px) {
    .img {width: 100%;}
    header .red {width: 100%;}
    .mobile_none {display: none;}
    .mobile_map {display: block;}
    .mobile_menu {display: inline-block; margin-left: 40px;}
    .mobile_menu input:checked ~ ul {display: block; margin-left: -20px;}
    label {opacity: 1;}
  }

  @media (max-width: 660px) {
    .wrapper, .forma {padding-left: 40px;}
    .attention, .forma h2 {font-size: 32px;}
    form input[type=submit], .contacts form input[type=submit], form input[type=tel] {padding: 14px 20px;}
    .contacts form input[type=submit] {padding: 14px 40px;}
    .car {
      max-width: 320px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .right {margin-left: 0;}
    .contacts {left: 0; top:180px;}
    footer .wrapper {padding: 0;}
    #popup {padding: 20px;}
  }

  @media (max-width: 510px) {
    header .wrapper {padding-left: 5px;}
    .mobile_menu {margin-left: 5px;}
    .marker {margin-left: 5px;}
    .marker span {font-size: 10px;}
    .logo img {width: 100px;}
    .mobile_menu .showmenu {font-size: 36px;}
    .forma form input[type=submit] {padding: 14px 40px;}
    #popup {width: 300px;}
    .attention, .forma h2 {font-size: 26px;}
    .head.red span {font-size: 22px;}
  }